* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif
}


.Dark {
  background-image: url("/images/Light-Mode.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  min-width: 100vw;
  
}

.Dark[Data-mode="false"] {
  background-image: url("/images/Possible-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(171, 169, 169);
}
.Primary-header{
  height:50px;
 
}
.container h1{
 
  font-size: 1.1em;
  margin-left: 1px;
  padding: 15px;
  text-transform: uppercase;
}
.Primary-nav-list{
display: inline-block;
}

.search-query {
  display: inline-block;
  
  position: absolute;
  left: 69%;
  top: 0;
  margin: 10px;

  width: 20%;
  border: none;
  padding: 10px 1px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: rgb(171, 169, 169);
  cursor: pointer;


}

.submit-btn {
  
  display: inline-block;
  justify-content: end;
  position: absolute;
  top:0%;
  left: 90%;
background-color:   rgb(171, 169, 169);
padding: 10px 20px;
font-size: 12px;
  margin: 10px;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;



}
.submit-btn:hover{
  background-color:rgb(91, 90, 90);
  color: rgb(172, 173, 174);

}
.city-name img{
  object-fit: cover;
  background: transparent;
  border-radius: 50%;
  backdrop-filter: blur(4rem);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-underline-position: below;
  border-bottom: 2px solid black;
  border-bottom-style: inset;
 
}

.main>div {
  padding: 7px;
}



.Extras {
  margin-bottom: 50px;
}
.Sections-together{
  height:100%;
 
}

.Primary-Section {
 
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1rem);
  

}
.city-name{
  margin-top: 20px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city-name p{
  padding: 4px;
}
.Primary-Row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    
    /* font-size: 10px; */
    margin-top: 20px;
    border-bottom: inset;

}
.Primary-Row p{
  padding:14px;
  font-size: 20px;
}


.Heading {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-underline-offset: 8px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.Dropdown{
  padding:15px;
  background:transparent;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
}
.Dropdown:hover{
  border-bottom: inset;
 

}
.Only-Drop{
  display: block;
  position: absolute;
  left:88%;
  top:22px;
  background: transparent;
  border:0;
width: 1rem;
}


.Only-Drop:hover{
  scale:2;
}


.Recent{
  display: flex;
  z-index: 1;
  flex-direction:column;
  Position:absolute;
  top:6%;
  left:70%;
  width: 20%;
  background:transparent;
  border-radius: 3px;
  backdrop-filter: blur(9rem);
  background: rgba(0,0,0,0.5);
  height:500px;
  transition: all 0.9s ease-in;

}
.Recent[Data-Visible="false"]{
 display: none;
}
/* MEDIA QUERY */
@media only  screen and (max-width:1000px){
.search-query{
  left:55%;
  width:30%
}
.Only-Drop{
  left:84%
}
.submit-btn{
  left:87%
}
}
@media only  screen and (max-width:800px){
  .search-query{
    left:45%;
    height:3%;
    width:40%;
  }

  .submit-btn{
    height:5%;
    margin-inline:10px;
  }
  .Primary-Section{
    margin-inline:25px;
    }

}
@media only  screen and (max-width:600px){

.container h1{
  display: none;
}
.search-query{
  left:1%;
  width:70%;
  height:2%;
}
.Only-Drop{
  left:67%;
  display:none;
}
.submit-btn{
  margin-inline: 10px;
  left:73%;
  height:4%;
}
.Recent{
display: none;
}
.Heading{
  font-size: 20px;
}
.Primary-Section {
 
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Primary-Row p{
  
  font-size:15px;
  padding:7px
}

}

